.head__header {
  height: 12rem;
  padding: 1rem 6rem;
  display: flex;
  align-items: center;
}

.header__logo {
  width: 20rem;
}

.logo__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header_title {
  font-size: 5rem;
  flex-grow: 1;
  letter-spacing: 1rem;
  text-align: center;
  color: #008080;
  background-image: linear-gradient(
    45deg,
    #008080 14%,
    #009999 5%,
    #00b3b3 90%,
    #33cccc 16%,
    #66e6e6 71%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__link {
  font-size: 2rem;
  border-radius: 2rem;
  background-color: var(--bg-primary);
  padding: 1rem;
  display: flex;
  flex-grow: 1;
  max-width: 27rem;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}

.header__link:hover {
  background-color: var(--bg-primary-ligth);
}

.link__icon {
  color: var(--bg-icons);
  width: 3rem;
  height: 3rem;
}

.link__text {
  color: var(--text-secondary);
  text-wrap: nowrap;
}
